body {
    background-color: #FED651;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

header {
    text-align: center;
}

.nav-bar {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-bar li {
    margin:10px;
}

.nav-bar li a {
    text-decoration: none;
    color: black;
    padding: 5px;
    
}

.nav-bar li a:hover {
    border-radius: 5%;
    padding: 5px;
    border-bottom: red solid;
}

.welcome p {
    font-size: 22px;
}

.menu ul {
    list-style: none;
}

.menu-item {
    height: auto;
    width: 50%;
}