@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fed651;
  font-family: Calibri, sans-serif;
}

header {
  position: relative;
  padding: 0 2rem;
  height: 180px;
}

nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .links {
  display: flex;
  gap: 2rem;
}

nav .toggle_btn {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.links li a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

.links li a:hover {
  border-bottom: 2px red solid;
  border-radius: 3px;
}

nav ul li {
  list-style: none;
}

.logo img {
  width: 60%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 80px;
  width: 300px;
  height: 0;
  background: black;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu li a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  border-bottom: 2px solid red;
  border-radius: 3px;
}

.dropdown-menu.open {
  height: 180px;
}

footer {
  background-color: #24262b;
  padding: 70px 0;
}

footer .container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fed651;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul {
  list-style-type: none;
}

.footer-col ul li {
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #bbb;
  text-decoration: none;
  font-weight: 300;
  display: block;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.199);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: white;
}

.menu {
  position: relative;
  min-height: 80vh;
  width: 100%;
  background-color: rgb(36,38,48);
  overflow: hidden;
}

.menu .heading {
  display: inline;
  position: relative;
  color: #fed651;
  font-size: 4vw;
  padding: 60px;
  width: 100%;
  text-align: center;
  font-weight: 800;
}

.menu .heading b {
  color: white;
}

.item-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item-wrapper .item-container {
  position: relative;
  width: 350px;
  background-color: #fed651;
  margin: 40px 20px;
  padding: 30px 20px;
  border-radius: 30px;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
}

.item-wrapper .item-container .imgbox {
  position: relative;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-wrapper .item-container .imgbox img {
  padding: 10px;
  width: 80%;
  height: auto;
}

.item-wrapper .item-container .imgbox:hover img {
  transform: scale(1.05);
}

.ratings {
  position: relative;
  min-height: 80vh;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.ratings .heading {
  display: inline;
  position: relative;
  color: #fed651;
  font-size: 4vw;
  padding: 60px;
  width: 100%;
  text-align: center;
  font-weight: 800;
}

.ratings .heading b {
  color: white;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper .testimonial-container {
  position: relative;
  width: 350px;
  color: white;
  background-color: #222;
  margin: 40px 20px;
  padding: 30px 20px;
  border-radius: 3px;
  transition: 0.3s ease;
}

.wrapper .testimonial-container .profile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10%;
  width: 100%;
  display: block;
}

.wrapper .testimonial-container .profile .imgbox {
  position: relative;
  height: 100px;
  width: 100px;
  margin: auto;
  border: 8px solid #070c0d;
  border-radius: 50%;
  overflow: hidden;
}

.wrapper .testimonial-container .profile .imgbox img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.3s ease;
}

.wrapper .testimonial-container .profile .imgbox:hover img {
  filter: saturate(140%);
  transform: scale(0.95);
}

.wrapper .testimonial-container .profile h2 {
  padding: 5px 0;
  text-transform: capitalize;
  color: white;
  letter-spacing: 1px;
  text-align: center;
}

.wrapper .testimonial-container p {
  margin-top: 50px;
  color: white;
  padding: 0 8px;
  font-size: 15px;
  opacity: 0.8;
}

.wrapper .testimonial-container .left {
  font-size: 30px;
  display: block;
  text-align: left;
  color: #3b7cf5;
}

.wrapper .testimonial-container .right {
  font-size: 30px;
  display: block;
  text-align: right;
  color: #3b7cf5;
}

/* RESPONSIVE */

@media (max-width: 992px) {

  header {
    height: 350px;
  }
  nav .links {
    display: none;
  }

  nav .toggle_btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }
}

@media (min-width: 351px) and (max-width: 650px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
    top: 120px;
  }
}

@media (max-width: 350px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
    top: 80px;
  }
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
